.task-page{
    margin: 0 auto;
    position: fixed;
    top: calc(12% + 8% + 2%);
    width: 100%;
    height: 90%;
}

.task-info{
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    width: 75%;
}

.subtask-list {
    height: 40%;
}

.subtask-list li:last-of-type {
    padding-bottom: 2%;
    margin-bottom: 2%;
}

h1, h2, h3 {
    font-weight: 400;
}

.task-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 95%;
}

.task-shared-list {
    margin-top: 2%;
}

.task-shared-list span {
    margin-right: 1%;
}

.task-btn-area {
    width: 8%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.task-btn-area svg {
    width: 90%;
    height: 70%;
}
