.list-item {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kanit', sans-serif;
}

li:last-of-type{
    margin-bottom: 7%;
    padding-bottom: 7%;
}

.list-item.card {
    background-color: #EDF5FF;
    color: #25265E;
    padding: 0 3% 0 3%;
}

.list-item.card:hover {
    background-color: #d6e6ff;
}

.card-content {
    display: flex;
    align-items: center;
}
