.menu-bar {
    position: fixed;
    top: 12%;
    width: 100%;
    height: 8%;
}

.menu-bar-wrapper {
    height: 100%;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.menu-bar-wrapper.title {
    justify-content: unset;
    min-width: fit-content;
}

.menu-btn-area {
    margin-right: 6%;
    display: flex;
    flex-flow: row nowrap;
}

.menu-btn-area button {
    padding: 1%;
    border-radius: 5px;
    margin-right: 10px;
    background-color: #34B467;
    color: #EDF5FF;
    font-size: 120%;
    font-weight: 300;
    height: 100%;
}

.menu-back {
    margin-left: 2%;
}