.admin-task-page {
    margin: 0 auto;
    position: fixed;
    top: calc(12% + 8% + 2%);
    width: 100%;
}

.review-modal {
    margin: 6% auto;
    width: 75%;
    height: 65%;
}

.review-page {
    margin: 0 auto;
    width: 90%;
    height: 90%;
    padding-top: 3%;
    display: flex;
    flex-flow: column;
    align-items: flex-end;
    background-color: #EDF5FF;
    border-radius: 15px;
    outline: none;
    overflow-y: scroll;
    overflow-x: hidden;
}

.review-page::-webkit-scrollbar {
    width: 5px;
}

.review-page::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: none;
    border-radius: 50px;
}

.review-list {
    width: 90%;
    margin: 2% auto;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.review-card {
    width: 40%;
    margin: 1% auto;
    border: 8px solid #84BCFF;
    border-radius: 10px;
    padding: 1%;
    font-size: 110%;
    color: #25265E;
}

.review-card .card-header {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-size: 120%;
    border-bottom: 4px solid #84BCFF;
}

.review-card .card-header svg {
    color: #2A73CC;
}

.modal-close-btn {
    width: 20%;
}

.modal-close-btn svg {
    height: 40px;
    width: 100%;
    color: #25265E;
}