.template-list .template-card{
    background-color: #FFFFFF;
    border-radius: 10px;
    border: 8px solid #EDF5FF;
    width: 25%;
    margin: 1%;
    color: #25265E;
}

.template-list .template-card-title {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    font-size: 120%;
    padding: 3%;
    border-bottom: 8px solid #EDF5FF;
}

.template-list .template-card-title button {
    background-color: #2A73CC;
    color: #EDF5FF;
    font-weight: 300;
    border-radius: 5px;
    width: 20%;
}

.template-list .template-card-category {
    font-size: 110%;
    padding: 3%;
    border-bottom: 8px solid #EDF5FF;
}

.template-list .template-card-subtasks {
    font-size: 90%;
    padding: 3%;
}
