.template-page {
    margin: 0 auto;
    position: fixed;
    top: calc(12% + 8% + 2%);
    width: 100%;
}

.template-list {
    margin: 0 auto;
    width: 80%;
    display: flex;
    flex-flow: row wrap;
    overflow-x: hidden;
    overflow-y: scroll;
}
